.tamanho-imagem{
    width: 50%;
}

h1 {
    font-family: 'Anton', sans-serif;
}

.texto-corpo{
    font-family: 'Nanum Gothic', sans-serif;
}

.fundo-site{
    text-align: center;
    background-color: #763DF2;
    color: white;
}